KSU_bioinfo_lab/sample_assembly_working_directory/fasta_and_cmap/NC_010473_mock_scaffolds.fna_contig.agp
KSU_bioinfo_lab/sample_assembly_working_directory/fasta_and_cmap/NC_010473_mock_scaffolds.fna_contig.bed
KSU_bioinfo_lab/sample_assembly_working_directory/fasta_and_cmap/NC_010473_mock_scaffolds.fna_contig.fasta
KSU_bioinfo_lab/sample_assembly_working_directory/fasta_and_cmap/NC_010473_mock_scaffolds.fna_contig_gaps.bed
